/* Sign-in Section */
.section-content {
  padding: 2rem 0;
  min-height: 84vh;
}

/* Center the card and adjust its width */
.card {
  max-width: 380px;
  margin-top: 20px;
}

/* Card title styling */
.card-title {
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 1.5rem;
}

/* Button styling for social sign-ins */
.btn-facebook {
  /* background-color: #3b5998; */
  color: black;
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-google {
  /* background-color: #db4a39; */
  color: black;
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnLogin:hover {
  background-color: rgb(100, 250, 250);
  color: gray;
  border-color: aquamarine;
}
/* Button icon alignment */
.btn i {
  margin-right: 0.5rem;
}

/* Input fields styling */
.form-control {
  height: 45px;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* Remember me checkbox */
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007bff;
  border-color: #007bff;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 5px;
  height: 20px;
  width: 20px;
  margin-right: 0.5rem;
}

/* Login button styling */
.btn-block {
  width: 100%;
  height: 45px;
  border-radius: 5px;
}

/* Additional text styling */
.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.logo-shop {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* border: 1px solid black; */
  overflow: hidden;
}
.btn-shop {
  color: black;
  font-size: 16px;
  border: 1px solid rgb(205, 205, 205);
  box-sizing: border-box;
}
.btn-shop:hover {
  background-color: azure;
}
ul.categoryShop {
  padding-left: 0px;
}
ul.categoryShop li a {
  cursor: pointer;

  font-size: 14px;
  color: grey;
}

select.sort-product {
  outline: none;
}
select.sort-product {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(220, 220, 220);
  font-size: 12px;
}
select.sort-product option {
  color: grey;
  padding: 5px;
}

.border-product {
  float: left;
  width: 20%;
  padding: 5px;
  background-color: #f9f9f9;
}

@media screen and (max-width: 1200px) {
  .border-product {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .border-product {
    width: calc(100% / 3);
  }
}
@media screen and (max-width: 580px) {
  .border-product {
    width: calc(100% / 2);
  }
}
.cart-header,
.cart-item {
  display: grid;
  grid-template-columns: 65px 8fr 3fr 2fr 3fr 1fr;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 20px;
  background-color: white;
}
.cart-header {
  padding: 15px 20px;
  font-weight: bold;
  color: #888;
  background-color: white;
}
.cart-store {
  margin: 25px 0px;
}
.cart-store .store-name {
  display: grid;
  grid-template-columns: 65px 1fr;
  background-color: white;
  font-size: 18px;
  padding: 15px 0px 15px 20px;
  border-bottom: 1px solid rgb(225, 225, 225);
}
.cart-store .store-name a {
  color: black;
}
.cart-item img,
.order-item img {
  border-radius: 5px;
  width: 120px;
  object-fit: cover;
}
.product-details {
  font-size: 14px;
  color: #333;
}
.product-details .title {
  font-weight: bold;
}
.product-details .description {
  color: #666;
  font-size: 12px;
}
.price,
.total-price {
  color: #e74c3c;
  font-weight: bold;
  text-align: center;
}
.old-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 5px;
}
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions a {
  text-decoration: none;
  cursor: pointer;
}
.actions:hover {
  color: #e74c3c;
}
.product-details {
  display: flex;
}
.product-details > div {
  float: left;
}
.cart-header input[type="checkbox"],
.cart-item input[type="checkbox"],
.cart-footer input[type="checkbox"],
.cart-store input[type="checkbox"] {
  width: 18px;
  height: 18px;
}
.cart-footer {
  display: grid;
  grid-template-columns: 65px 1fr 1fr 2fr 2fr 6fr 2fr;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 20px;
  background-color: white;
  padding-bottom: 35px;
  position: sticky;
  bottom: 0;
}

.order-header,
.order-item {
  display: grid;
  grid-template-columns: 8fr 3fr 3fr 3fr;
  align-items: center;
  padding: 15px 20px;
  background-color: white;
}
.order-header {
  font-weight: bold;
  color: #888;
  background-color: white;
}
.order-item {
  border-bottom: 1px solid #e5e5e5;
}
.order-store {
  margin-bottom: 15px;
}
.order-store .store-name {
  background-color: white;
  font-size: 16px;
  padding: 10px 0px 10px 20px;
}
.order-store .store-total {
  text-align: end;
  background-color: white;
  padding: 15px;
}
.order-store .store-total span,
.order-footer span {
  color: #e74c3c;
  font-size: 18px;
  margin-left: 5px;
}
.order-footer {
  display: grid;
  grid-template-columns: 5fr 2fr;
  padding: 15px;
  background-color: white;
}
.order-footer .order-total,.order-footer .order-total span{
  font-size: 16px;
}
.order-footer .order-total div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 15px 0px;
  color: #999;
}
.order-footer .order-total div span{
  text-align: end;
}